# Project Data engineering 2023-2024
### Bers Goudantov, 2ITAI

## Data Cleaning

In [1]:
# requirements install
!pip install pandera
!pip install boto3
!pip install pandasql
!pip install numpy
!pip install awswrangler
!pip install awscli

Collecting pandera
  Downloading pandera-0.19.2-py3-none-any.whl.metadata (15 kB)
Collecting multimethod<=1.10.0 (from pandera)
  Downloading multimethod-1.10-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: numpy>=1.19.0 in d:\python\lib\site-packages (from pandera) (1.24.3)
Requirement already satisfied: packaging>=20.0 in d:\python\lib\site-packages (from pandera) (24.0)
Requirement already satisfied: pandas>=1.2.0 in d:\python\lib\site-packages (from pandera) (2.0.1)
Requirement already satisfied: pydantic in d:\python\lib\site-packages (from pandera) (2.7.1)
Collecting typeguard (from pandera)
  Downloading typeguard-4.2.1-py3-none-any.whl.metadata (3.7 kB)
Collecting typing-inspect>=0.6.0 (from pandera)
  Downloading typing_inspect-0.9.0-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: wrapt in d:\python\lib\site-packages (from pandera) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\python\lib\site-packages (from pandas>=1.2.0->pandera) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\python\lib\site-packages (from pandas>=1.2.0->pandera) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in d:\python\lib\site-packages (from pandas>=1.2.0->pandera) (2024.1)
Collecting mypy-extensions>=0.3.0 (from typing-inspect>=0.6.0->pandera)
  Downloading mypy_extensions-1.0.0-py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: typing-extensions>=3.7.4 in d:\python\lib\site-packages (from typing-inspect>=0.6.0->pandera) (4.11.0)
Requirement already satisfied: annotated-types>=0.4.0 in d:\python\lib\site-packages (from pydantic->pandera) (0.6.0)
Requirement already satisfied: pydantic-core==2.18.2 in d:\python\lib\site-packages (from pydantic->pandera) (2.18.2)
Requirement already satisfied: six>=1.5 in d:\python\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pandera) (1.16.0)
Downloading pandera-0.19.2-py3-none-any.whl (251 kB)
   ---------------------------------------- 0.0/251.6 kB ? eta -:--:--
   ---------------------------------------- 251.6/251.6 kB 5.1 MB/s eta 0:00:00
Downloading multimethod-1.10-py3-none-any.whl (9.9 kB)
Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Downloading typeguard-4.2.1-py3-none-any.whl (34 kB)
Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Installing collected packages: typeguard, mypy-extensions, multimethod, typing-inspect, pandera
Successfully installed multimethod-1.10 mypy-extensions-1.0.0 pandera-0.19.2 typeguard-4.2.1 typing-inspect-0.9.0
Collecting boto3
  Downloading boto3-1.34.103-py3-none-any.whl.metadata (6.6 kB)
Collecting botocore<1.35.0,>=1.34.103 (from boto3)
  Downloading botocore-1.34.103-py3-none-any.whl.metadata (5.7 kB)
Collecting jmespath<2.0.0,>=0.7.1 (from boto3)
  Downloading jmespath-1.0.1-py3-none-any.whl.metadata (7.6 kB)
Collecting s3transfer<0.11.0,>=0.10.0 (from boto3)
  Downloading s3transfer-0.10.1-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in d:\python\lib\site-packages (from botocore<1.35.0,>=1.34.103->boto3) (2.9.0.post0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in d:\python\lib\site-packages (from botocore<1.35.0,>=1.34.103->boto3) (1.26.18)
Requirement already satisfied: six>=1.5 in d:\python\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.35.0,>=1.34.103->boto3) (1.16.0)
Downloading boto3-1.34.103-py3-none-any.whl (139 kB)
   ---------------------------------------- 0.0/139.3 kB ? eta -:--:--
   ---------------------------------------- 139.3/139.3 kB 2.7 MB/s eta 0:00:00
Downloading botocore-1.34.103-py3-none-any.whl (12.2 MB)
   ---------------------------------------- 0.0/12.2 MB ? eta -:--:--
   - -------------------------------------- 0.4/12.2 MB 12.9 MB/s eta 0:00:01
   -- ------------------------------------- 0.8/12.2 MB 10.4 MB/s eta 0:00:02
   --- ------------------------------------ 1.0/12.2 MB 9.5 MB/s eta 0:00:02
   --- ------------------------------------ 1.1/12.2 MB 7.1 MB/s eta 0:00:02
   ------ --------------------------------- 1.9/12.2 MB 8.7 MB/s eta 0:00:02
   ------- -------------------------------- 2.3/12.2 MB 8.6 MB/s eta 0:00:02
   -------- ------------------------------- 2.7/12.2 MB 8.6 MB/s eta 0:00:02
   --------- ------------------------------ 2.8/12.2 MB 8.4 MB/s eta 0:00:02
   ---------- ----------------------------- 3.2/12.2 MB 7.8 MB/s eta 0:00:02
   ----------- ---------------------------- 3.5/12.2 MB 8.0 MB/s eta 0:00:02
   ------------ --------------------------- 3.8/12.2 MB 7.7 MB/s eta 0:00:02
   ------------- -------------------------- 4.0/12.2 MB 7.6 MB/s eta 0:00:02
   ------------- -------------------------- 4.1/12.2 MB 7.5 MB/s eta 0:00:02
   -------------- ------------------------- 4.4/12.2 MB 7.0 MB/s eta 0:00:02
   --------------- ------------------------ 4.8/12.2 MB 7.2 MB/s eta 0:00:02
   ----------------- ---------------------- 5.3/12.2 MB 7.4 MB/s eta 0:00:01
   ------------------ --------------------- 5.6/12.2 MB 7.4 MB/s eta 0:00:01
   ------------------ --------------------- 5.7/12.2 MB 7.4 MB/s eta 0:00:01
   ------------------- -------------------- 6.1/12.2 MB 7.1 MB/s eta 0:00:01
   --------------------- ------------------ 6.5/12.2 MB 7.3 MB/s eta 0:00:01
   ---------------------- ----------------- 6.9/12.2 MB 7.4 MB/s eta 0:00:01
   ----------------------- ---------------- 7.1/12.2 MB 7.4 MB/s eta 0:00:01
   ----------------------- ---------------- 7.3/12.2 MB 7.1 MB/s eta 0:00:01
   ------------------------ --------------- 7.6/12.2 MB 7.0 MB/s eta 0:00:01
   ------------------------- -------------- 7.9/12.2 MB 7.0 MB/s eta 0:00:01
   --------------------------- ------------ 8.3/12.2 MB 7.1 MB/s eta 0:00:01
   ---------------------------- ----------- 8.6/12.2 MB 7.1 MB/s eta 0:00:01
   ----------------------------- ---------- 9.2/12.2 MB 7.3 MB/s eta 0:00:01
   ------------------------------- -------- 9.5/12.2 MB 7.3 MB/s eta 0:00:01
   -------------------------------- ------- 9.9/12.2 MB 7.3 MB/s eta 0:00:01
   --------------------------------- ------ 10.2/12.2 MB 7.3 MB/s eta 0:00:01
   ---------------------------------- ----- 10.7/12.2 MB 7.4 MB/s eta 0:00:01
   ------------------------------------ --- 11.0/12.2 MB 7.3 MB/s eta 0:00:01
   ------------------------------------- -- 11.5/12.2 MB 7.5 MB/s eta 0:00:01
   -------------------------------------- - 11.9/12.2 MB 7.4 MB/s eta 0:00:01
   ---------------------------------------  12.2/12.2 MB 7.4 MB/s eta 0:00:01
   ---------------------------------------  12.2/12.2 MB 7.4 MB/s eta 0:00:01
   ---------------------------------------  12.2/12.2 MB 7.4 MB/s eta 0:00:01
   ---------------------------------------- 12.2/12.2 MB 6.7 MB/s eta 0:00:00
Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Downloading s3transfer-0.10.1-py3-none-any.whl (82 kB)
   ---------------------------------------- 0.0/82.2 kB ? eta -:--:--
   ---------------------------------------- 82.2/82.2 kB 2.3 MB/s eta 0:00:00
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.34.103 botocore-1.34.103 jmespath-1.0.1 s3transfer-0.10.1
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in d:\python\lib\site-packages (from pandasql) (1.24.3)
Requirement already satisfied: pandas in d:\python\lib\site-packages (from pandasql) (2.0.1)
Requirement already satisfied: sqlalchemy in d:\python\lib\site-packages (from pandasql) (2.0.30)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\python\lib\site-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\python\lib\site-packages (from pandas->pandasql) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in d:\python\lib\site-packages (from pandas->pandasql) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\python\lib\site-packages (from sqlalchemy->pandasql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in d:\python\lib\site-packages (from sqlalchemy->pandasql) (3.0.3)
Requirement already satisfied: six>=1.5 in d:\python\lib\site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26801 sha256=62c8dc5a71efc52b725e4eb72ba10435a83ccbdae2177ab13077eca198ed9994
  Stored in directory: c:\users\gouda\appdata\local\pip\cache\wheels\68\5d\a5\edc271b998f909801d7956959f699b976cc9896075dc47c153
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3
Requirement already satisfied: numpy in d:\python\lib\site-packages (1.24.3)
Collecting awswrangler
  Downloading awswrangler-3.7.3-py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: boto3<2.0.0,>=1.20.32 in d:\python\lib\site-packages (from awswrangler) (1.34.103)
Requirement already satisfied: botocore<2.0.0,>=1.23.32 in d:\python\lib\site-packages (from awswrangler) (1.34.103)
Requirement already satisfied: numpy<2.0,>=1.18 in d:\python\lib\site-packages (from awswrangler) (1.24.3)
Requirement already satisfied: packaging<25.0,>=21.1 in d:\python\lib\site-packages (from awswrangler) (24.0)
Requirement already satisfied: pandas<3.0.0,>=1.2.0 in d:\python\lib\site-packages (from awswrangler) (2.0.1)
Collecting pyarrow>=8.0.0 (from awswrangler)
  Downloading pyarrow-16.0.0-cp311-cp311-win_amd64.whl.metadata (3.1 kB)
Requirement already satisfied: typing-extensions<5.0.0,>=4.4.0 in d:\python\lib\site-packages (from awswrangler) (4.11.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in d:\python\lib\site-packages (from boto3<2.0.0,>=1.20.32->awswrangler) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in d:\python\lib\site-packages (from boto3<2.0.0,>=1.20.32->awswrangler) (0.10.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in d:\python\lib\site-packages (from botocore<2.0.0,>=1.23.32->awswrangler) (2.9.0.post0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in d:\python\lib\site-packages (from botocore<2.0.0,>=1.23.32->awswrangler) (1.26.18)
Requirement already satisfied: pytz>=2020.1 in d:\python\lib\site-packages (from pandas<3.0.0,>=1.2.0->awswrangler) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in d:\python\lib\site-packages (from pandas<3.0.0,>=1.2.0->awswrangler) (2024.1)
Requirement already satisfied: six>=1.5 in d:\python\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.23.32->awswrangler) (1.16.0)
Downloading awswrangler-3.7.3-py3-none-any.whl (378 kB)
   ---------------------------------------- 0.0/378.2 kB ? eta -:--:--
   ---- ----------------------------------- 41.0/378.2 kB 1.9 MB/s eta 0:00:01
   -------------------------------------- - 368.6/378.2 kB 4.5 MB/s eta 0:00:01
   ---------------------------------------- 378.2/378.2 kB 3.3 MB/s eta 0:00:00
Downloading pyarrow-16.0.0-cp311-cp311-win_amd64.whl (25.9 MB)
   ---------------------------------------- 0.0/25.9 MB ? eta -:--:--
    --------------------------------------- 0.4/25.9 MB 11.6 MB/s eta 0:00:03
   - -------------------------------------- 1.0/25.9 MB 10.2 MB/s eta 0:00:03
   -- ------------------------------------- 1.4/25.9 MB 10.2 MB/s eta 0:00:03
   -- ------------------------------------- 1.9/25.9 MB 10.1 MB/s eta 0:00:03
   --- ------------------------------------ 2.3/25.9 MB 9.8 MB/s eta 0:00:03
   ---- ----------------------------------- 2.7/25.9 MB 9.1 MB/s eta 0:00:03
   ---- ----------------------------------- 3.1/25.9 MB 9.5 MB/s eta 0:00:03
   ----- ---------------------------------- 3.6/25.9 MB 9.1 MB/s eta 0:00:03
   ----- ---------------------------------- 3.9/25.9 MB 8.9 MB/s eta 0:00:03
   ------ --------------------------------- 4.3/25.9 MB 8.8 MB/s eta 0:00:03
   ------- -------------------------------- 4.8/25.9 MB 9.0 MB/s eta 0:00:03
   -------- ------------------------------- 5.2/25.9 MB 8.8 MB/s eta 0:00:03
   -------- ------------------------------- 5.6/25.9 MB 8.9 MB/s eta 0:00:03
   --------- ------------------------------ 6.0/25.9 MB 8.7 MB/s eta 0:00:03
   ---------- ----------------------------- 6.5/25.9 MB 8.6 MB/s eta 0:00:03
   ---------- ----------------------------- 6.9/25.9 MB 8.6 MB/s eta 0:00:03
   ----------- ---------------------------- 7.2/25.9 MB 8.7 MB/s eta 0:00:03
   ----------- ---------------------------- 7.6/25.9 MB 8.7 MB/s eta 0:00:03
   ------------ --------------------------- 7.9/25.9 MB 8.8 MB/s eta 0:00:03
   ------------ --------------------------- 8.3/25.9 MB 8.7 MB/s eta 0:00:03
   ------------- -------------------------- 8.6/25.9 MB 8.7 MB/s eta 0:00:02
   ------------- -------------------------- 9.0/25.9 MB 8.6 MB/s eta 0:00:02
   -------------- ------------------------- 9.4/25.9 MB 8.6 MB/s eta 0:00:02
   --------------- ------------------------ 9.8/25.9 MB 8.6 MB/s eta 0:00:02
   --------------- ------------------------ 10.1/25.9 MB 8.6 MB/s eta 0:00:02
   ---------------- ----------------------- 10.5/25.9 MB 8.6 MB/s eta 0:00:02
   ---------------- ----------------------- 10.8/25.9 MB 8.5 MB/s eta 0:00:02
   ----------------- ---------------------- 11.2/25.9 MB 8.4 MB/s eta 0:00:02
   ----------------- ---------------------- 11.5/25.9 MB 8.4 MB/s eta 0:00:02
   ------------------ --------------------- 11.9/25.9 MB 8.3 MB/s eta 0:00:02
   ------------------- -------------------- 12.3/25.9 MB 8.3 MB/s eta 0:00:02
   ------------------- -------------------- 12.7/25.9 MB 8.4 MB/s eta 0:00:02
   -------------------- ------------------- 13.1/25.9 MB 8.4 MB/s eta 0:00:02
   -------------------- ------------------- 13.5/25.9 MB 8.4 MB/s eta 0:00:02
   --------------------- ------------------ 13.8/25.9 MB 8.4 MB/s eta 0:00:02
   ---------------------- ----------------- 14.3/25.9 MB 8.4 MB/s eta 0:00:02
   ---------------------- ----------------- 14.6/25.9 MB 8.4 MB/s eta 0:00:02
   ----------------------- ---------------- 14.9/25.9 MB 8.4 MB/s eta 0:00:02
   ----------------------- ---------------- 15.3/25.9 MB 8.3 MB/s eta 0:00:02
   ------------------------ --------------- 15.6/25.9 MB 8.3 MB/s eta 0:00:02
   ------------------------ --------------- 15.9/25.9 MB 8.4 MB/s eta 0:00:02
   ------------------------- -------------- 16.3/25.9 MB 8.4 MB/s eta 0:00:02
   ------------------------- -------------- 16.8/25.9 MB 8.3 MB/s eta 0:00:02
   -------------------------- ------------- 17.3/25.9 MB 8.3 MB/s eta 0:00:02
   --------------------------- ------------ 17.6/25.9 MB 8.3 MB/s eta 0:00:01
   ---------------------------- ----------- 18.1/25.9 MB 8.3 MB/s eta 0:00:01
   ---------------------------- ----------- 18.5/25.9 MB 8.3 MB/s eta 0:00:01
   ----------------------------- ---------- 18.8/25.9 MB 8.5 MB/s eta 0:00:01
   ----------------------------- ---------- 19.0/25.9 MB 8.2 MB/s eta 0:00:01
   ------------------------------ --------- 19.4/25.9 MB 8.2 MB/s eta 0:00:01
   ------------------------------ --------- 19.8/25.9 MB 8.2 MB/s eta 0:00:01
   ------------------------------- -------- 20.3/25.9 MB 8.4 MB/s eta 0:00:01
   ------------------------------- -------- 20.5/25.9 MB 8.2 MB/s eta 0:00:01
   -------------------------------- ------- 20.8/25.9 MB 8.1 MB/s eta 0:00:01
   -------------------------------- ------- 21.2/25.9 MB 8.1 MB/s eta 0:00:01
   --------------------------------- ------ 21.6/25.9 MB 8.1 MB/s eta 0:00:01
   ---------------------------------- ----- 22.0/25.9 MB 8.1 MB/s eta 0:00:01
   ---------------------------------- ----- 22.5/25.9 MB 8.2 MB/s eta 0:00:01
   ----------------------------------- ---- 22.9/25.9 MB 8.2 MB/s eta 0:00:01
   ------------------------------------ --- 23.3/25.9 MB 8.1 MB/s eta 0:00:01
   ------------------------------------ --- 23.7/25.9 MB 8.1 MB/s eta 0:00:01
   ------------------------------------- -- 24.1/25.9 MB 8.1 MB/s eta 0:00:01
   ------------------------------------- -- 24.5/25.9 MB 8.1 MB/s eta 0:00:01
   -------------------------------------- - 24.9/25.9 MB 8.1 MB/s eta 0:00:01
   ---------------------------------------  25.3/25.9 MB 8.1 MB/s eta 0:00:01
   ---------------------------------------  25.6/25.9 MB 8.2 MB/s eta 0:00:01
   ---------------------------------------  25.9/25.9 MB 8.2 MB/s eta 0:00:01
   ---------------------------------------  25.9/25.9 MB 8.2 MB/s eta 0:00:01
   ---------------------------------------  25.9/25.9 MB 8.2 MB/s eta 0:00:01
   ---------------------------------------  25.9/25.9 MB 8.2 MB/s eta 0:00:01
   ---------------------------------------- 25.9/25.9 MB 7.1 MB/s eta 0:00:00
Installing collected packages: pyarrow, awswrangler
Successfully installed awswrangler-3.7.3 pyarrow-16.0.0
Collecting awscli

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow-intel 2.13.1 requires typing-extensions<4.6.0,>=3.6.6, but you have typing-extensions 4.11.0 which is incompatible.

  Downloading awscli-1.32.103-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: botocore==1.34.103 in d:\python\lib\site-packages (from awscli) (1.34.103)
Collecting docutils<0.17,>=0.10 (from awscli)
  Downloading docutils-0.16-py2.py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in d:\python\lib\site-packages (from awscli) (0.10.1)
Requirement already satisfied: PyYAML<6.1,>=3.10 in d:\python\lib\site-packages (from awscli) (6.0.1)
Requirement already satisfied: colorama<0.4.7,>=0.2.5 in d:\python\lib\site-packages (from awscli) (0.4.6)
Collecting rsa<4.8,>=3.1.2 (from awscli)
  Downloading rsa-4.7.2-py3-none-any.whl.metadata (3.6 kB)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in d:\python\lib\site-packages (from botocore==1.34.103->awscli) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in d:\python\lib\site-packages (from botocore==1.34.103->awscli) (2.9.0.post0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in d:\python\lib\site-packages (from botocore==1.34.103->awscli) (1.26.18)
Requirement already satisfied: pyasn1>=0.1.3 in d:\python\lib\site-packages (from rsa<4.8,>=3.1.2->awscli) (0.6.0)
Requirement already satisfied: six>=1.5 in d:\python\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore==1.34.103->awscli) (1.16.0)
Downloading awscli-1.32.103-py3-none-any.whl (4.5 MB)
   ---------------------------------------- 0.0/4.5 MB ? eta -:--:--
   - -------------------------------------- 0.2/4.5 MB 5.3 MB/s eta 0:00:01
   ------ --------------------------------- 0.7/4.5 MB 7.5 MB/s eta 0:00:01
   -------- ------------------------------- 0.9/4.5 MB 6.3 MB/s eta 0:00:01
   ------------- -------------------------- 1.5/4.5 MB 7.8 MB/s eta 0:00:01
   ---------------- ----------------------- 1.9/4.5 MB 7.4 MB/s eta 0:00:01
   -------------------- ------------------- 2.3/4.5 MB 8.1 MB/s eta 0:00:01
   ------------------------ --------------- 2.8/4.5 MB 8.0 MB/s eta 0:00:01
   ---------------------------- ----------- 3.2/4.5 MB 8.5 MB/s eta 0:00:01
   -------------------------------- ------- 3.7/4.5 MB 8.4 MB/s eta 0:00:01
   ------------------------------------ --- 4.1/4.5 MB 8.5 MB/s eta 0:00:01
   ---------------------------------------  4.5/4.5 MB 8.4 MB/s eta 0:00:01
   ---------------------------------------- 4.5/4.5 MB 7.7 MB/s eta 0:00:00
Downloading docutils-0.16-py2.py3-none-any.whl (548 kB)
   ---------------------------------------- 0.0/548.2 kB ? eta -:--:--
   ---------------------------------- ---- 481.3/548.2 kB 10.0 MB/s eta 0:00:01
   ---------------------------------------- 548.2/548.2 kB 6.9 MB/s eta 0:00:00
Downloading rsa-4.7.2-py3-none-any.whl (34 kB)
Installing collected packages: rsa, docutils, awscli
  Attempting uninstall: rsa
    Found existing installation: rsa 4.9
    Uninstalling rsa-4.9:
      Successfully uninstalled rsa-4.9
Successfully installed awscli-1.32.103 docutils-0.16 rsa-4.7.2

In [7]:
import psycopg2
from sqlalchemy import create_engine, types as sqlalchemytypes
import pandas as pd
# importeer database data van raw postegressql naar df om te cleanen

engine = create_engine('postgresql://postgres:Newpassword@192.168.1.4:5432/postgres')

df_aankomst = pd.read_sql_query('SELECT * FROM raw.aankomst', con=engine)
df_banen = pd.read_sql_query('SELECT * FROM raw.banen', con=engine)
df_klant = pd.read_sql_query('SELECT * FROM raw.klant', con=engine)
df_luchthavens = pd.read_sql_query('SELECT * FROM raw.luchthavens', con=engine)
df_maatschappijen = pd.read_sql_query('SELECT * FROM raw.maatschappijen', con=engine)
df_planning = pd.read_sql_query('SELECT * FROM raw.planning', con=engine)
df_vertrek = pd.read_sql_query('SELECT * FROM raw.vertrek', con=engine)
df_vliegtuig = pd.read_sql_query('SELECT * FROM raw.vliegtuig', con=engine)
df_vliegtuigtype = pd.read_sql_query('SELECT * FROM raw.vliegtuigtype', con=engine)
df_vlucht = pd.read_sql_query('SELECT * FROM raw.vlucht', con=engine)
df_weer = pd.read_sql_query('SELECT * FROM raw.weer', con=engine)

In [8]:
# Toon aankomst df
df_aankomst

,vluchtid,vliegtuigcode,terminal,gate,baan,bezetting,vracht,aankomsttijd
0,935998,VFR735,A,A1,1,45,None,2014-01-01 03:53:00
1,936001,VHV303,A,A2,1,62,None,2014-01-01 04:15:00
2,936009,VKL301,C,C1,1,58,None,2014-01-01 04:38:00
3,936012,VTK505,B,B5,1,67,None,2014-01-01 04:43:00
4,936013,VKL859,C,C2,1,71,None,2014-01-01 04:54:00
...,...,...,...,...,...,...,...,...
386056,1708499,VUA2363,E,E4,1,78,None,2017-12-31 23:21:00
386057,1708500,VAC1021,D,D6,1,78,None,2017-12-31 23:30:00
386058,1708501,VHV381,A,A4,1,54,None,2017-12-31 23:43:00
386059,1708502,VSU1831,D,D3,1,77,None,2018-01-01 00:04:00
386060,1708503,VGA4943,D,D2,1,70,None,2018-01-01 00:19:00

In [9]:
# Toon banen df
df_banen

  baannummer     code                    naam lengte
0          1    09-27     Marloes Boumansbaan   3200
1          2  18R-36L  Joost van den Bemdbaan   3600
2          3  18L-36R    Frank de Ruijterbaan   4000
3          4  18C-36C    Stépan Breedveldbaan   3500
4          5    06-24      Hans Dellebekebaan   3500
5          6    04-22        Sjoerd Eversbaan   2200

In [10]:
# Toon klant df
df_klant

     vluchtid operatie faciliteiten shops
0     1317307      7.2          8.5  None
1     1317327      7.4            8  None
2     1317352        7          6.9   6.9
3     1317395      6.5          7.3     7
4     1317406      6.9          6.9   6.3
...       ...      ...          ...   ...
2105  1532509      7.6            5   7.7
2106  1532549      7.1          5.6     6
2107  1532554      7.5          9.2   6.2
2108  1532592      6.9          5.6   6.4
2109  1532633      6.9          5.9   7.3

[2110 rows x 4 columns]

In [11]:
# Toon luchthavens df
df_luchthavens

,airport,city,country,iata,icao,lat,lon,alt,tz,dst,tzname
0,Bamyan Airport,Bamyan,Afghanistan,BIN,OABN,34.816667,67.816667,2550,4.5,N,Asia/Kabul
1,Camp Bastion,Camp Bastion,Afghanistan,None,OAZI,31.865556,64.195278,2808,4.5,N,Asia/Kabul
2,Chaghcharan Airport,Chaghcharan,Afghanistan,CCN,OACC,34.526667,65.271667,7383,4.5,U,Asia/Kabul
3,Faizabad Airport,Faizabad,Afghanistan,FBD,OAFZ,37.1211,70.5181,3872,4.5,U,Asia/Kabul
4,Herat,Herat,Afghanistan,HEA,OAHR,34.210017,62.2283,3206,4.5,U,Asia/Kabul
...,...,...,...,...,...,...,...,...,...,...,...
8102,Mutoko,Mutoko,Zimbabwe,None,FVMT,-17.431917,32.184502,3950,2,U,Africa/Harare
8103,Spray View Airport,Spray View,Zimbabwe,None,FVSV,-17.917,25.817,3210,2,U,Africa/Harare
8104,Victoria Falls Intl,Victoria Falls,Zimbabwe,VFA,FVFA,-18.095881,25.839006,3490,2,U,Africa/Harare
8105,Shearwater Heliport,Victoria Falls,Zimbabwe,None,\N,-17.911443,25.828167,3937,2,U,Africa/Harare
8106,Zvishavane,Zvishavane,Zimbabwe,None,FVSH,-20.289497,30.088228,3012,2,U,Africa/Harare

In [12]:
# Toon maatschappijen df
df_maatschappijen

                        name  iata  icao
0             Private flight     -  None
1                    Unknown     -  None
2                ELK Airways    --   ELK
3     Tom\\'s & co airliners    &T   T&O
4             Wilderness Air    ;;    \N
...                      ...   ...   ...
1161             CBM America  None   XBM
1162           Excel Charter  None   XEL
1163                   XOJET  None   XOJ
1164      Executive AirShare  None   XSR
1165             YES Airways  None   YEP

[1166 rows x 3 columns]

In [13]:
# Toon planning df
df_planning

    vluchtnr airlinecode destcode planterminal plangate  plantijd
0     9W2888          9W      DEL            D       D2   2:10 PM
1     9W2889          9W      DEL            D       D2   3:25 PM
2      A3598          A3      ATH            A       A6   5:10 AM
3      A3599          A3      ATH            A       A6   5:55 AM
4      A3600          A3      ATH            A       A6   2:45 PM
..       ...         ...      ...          ...      ...       ...
688    UX438          UX      MAD            A       A4   9:20 AM
689    UX439          UX      MAD            A       A4  10:05 AM
690    UX440          UX      MAD            A       A4   6:00 PM
691    UX441          UX      MAD            A       A4   6:45 PM
692   WF4141          WF      BOO         None     None      None

[693 rows x 6 columns]

In [14]:
# Toon vertrek df
df_vertrek

,vluchtid,vliegtuigcode,terminal,gate,baan,bezetting,vracht,vertrektijd
0,935992,VTK297,B,B5,2,69,None,2014-01-01 02:46:00
1,935993,VDL5829,D,D5,2,78,None,2014-01-01 02:57:00
2,935994,VSU1831,D,D3,2,85,None,2014-01-01 03:07:00
3,935995,VEZY741,C,C4,2,54,None,2014-01-01 03:33:00
4,935996,VKL499,C,C2,2,71,None,2014-01-01 03:48:00
...,...,...,...,...,...,...,...,...
386442,1708478,VFR735,A,A1,2,60,None,2017-12-31 21:31:00
386443,1708479,VHV651,A,A3,2,79,None,2017-12-31 21:32:00
386444,1708480,VAF397,C,C6,2,75,None,2017-12-31 21:35:00
386445,1708482,VSR437,B,B3,2,80,None,2017-12-31 21:42:00
386446,1708484,VKL729,C,C2,2,67,None,2017-12-31 22:00:00

In [15]:
# Toon vliegtuig df
df_vliegtuig

    airlinecode vliegtuigcode vliegtuigtype bouwjaar
0            TK        VTK297           321     1970
1            DL       VDL5829           320     2007
2            SU       VSU1831           321     2012
3           EZY       VEZY741           738     1978
4            KL        VKL499           738     1982
..          ...           ...           ...      ...
552          AF        VAF479           738     1975
553          CZ       VCZ4839           333     1971
554          KL       VKL4377           744     1970
555          DL       VDL3953           738     1985
556          HV        VHV733           332     2013

[557 rows x 4 columns]

In [16]:
# Toon vliegtuigtype df
df_vliegtuigtype

,iata,icao,merk,type,wake,cat,capaciteit,vracht
0,100,F100,Fokker,Fokker 100,M,Pax,100,2
1,141,B461,British Aerospace,BAe 146-100 Pax,M,Pax,105,5
2,142,B462,British Aerospace,BAe 146-200 Pax,M,Pax,115,5
3,143,B463,British Aerospace,BAe 146-300 Pax,M,Pax,130,5
4,146,None,British Aerospace,BAe 146 all pax models,M,Pax,None,None
...,...,...,...,...,...,...,...,...
322,YK2,YK42,Yakovlev,Yakovlev Yak 42,M,Pax,100,2
323,YK4,YK40,Yakovlev,Yakovlev Yak 40,M,Pax,80,2
324,YN2,Y12,Harbin,Harbin Yunshuji Y12,M,None,None,None
325,YN7,AN24,Xi'an,Xian Yunshuji Y7,M,None,None,None
326,YS1,YS11,Nihon Aircraft,NAMC YS-11,M,None,None,None

In [17]:
# Toon vlucht df
df_vlucht

       vluchtid vluchtnr airlinecode destcode vliegtuigcode       datum
0        935992    TK297          TK      ESB        VTK297  2014-01-01
1        935993   DL5829          DL      DTW       VDL5829  2014-01-01
2        935994   SU1831          SU      SVO       VSU1831  2014-01-01
3        935995   EZY741         EZY      ACE       VEZY741  2014-01-01
4        935996    KL500          KL      VIE        VKL499  2014-01-01
...         ...      ...         ...      ...           ...         ...
772507  1708499   UA2362          UA      IAD       VUA2363  2017-12-31
772508  1708500   AC1020          AC      YYZ       VAC1021  2017-12-31
772509  1708501    HV381          HV      FAO        VHV381  2017-12-31
772510  1708502   SU1830          SU      SVO       VSU1831  2018-01-01
772511  1708503   GA4942          GA      CGK       VGA4943  2018-01-01

[772512 rows x 6 columns]

In [18]:
# Toon weer df
df_weer

,datum,ddvec,fhvec,fg,fhx,fhxh,fhn,fhnh,fxx,fxxh,...,vvnh,vvx,vvxh,ng,ug,ux,uxh,un,unh,ev2
0,2014-01-01,24,35,38,60,1,0,23,110,1,...,23,75,2,4,78,93,23,67,12,3
1,2014-01-02,212,22,31,50,18,10,1,80,21,...,23,61,5,8,91,94,9,89,14,1
2,2014-01-03,33,17,25,60,1,0,18,100,2,...,21,75,14,4,84,92,20,69,13,4
3,2014-01-04,199,30,31,50,14,20,1,80,12,...,22,57,12,8,90,99,21,83,13,2
4,2014-01-05,194,28,28,40,14,20,2,60,9,...,3,63,14,7,91,97,1,82,13,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,2017-12-27,189,65,66,100,8,30,23,180,8,...,17,75,7,8,88,96,17,75,7,1
1457,2017-12-28,204,38,39,50,1,30,4,90,1,...,5,75,14,5,90,95,5,77,14,4
1458,2017-12-29,225,37,38,40,1,20,5,90,7,...,2,75,15,4,88,95,2,76,15,4
1459,2017-12-30,184,59,60,80,14,30,1,150,15,...,1,75,11,5,84,92,1,74,14,3
1460,2017-12-31,168,48,49,60,12,40,4,110,13,...,24,82,16,8,77,90,24,62,17,3

In [ ]:
## Data cleaning